{% extends "base.html.twig" %}

{% block body %}
    <h1>Personne :</h1>
    {% for p in person %}
        <ul>
            <li>{{ p.name }}</li>
            <li>{{ p.age }}</li>
            <li>{{ p.visible }}</li>
            <li>{{ p.createdAt|date("Y") }}</li>
            <li>{{ p.color }}</li>
        </ul>

    {% endfor %}
{% endblock %}
